/* 900start */


@media screen and (max-width: 900px){

    .abc{width: 100%;
    height: 100%;}

    .container-main {
        width: 100%;
        height :100vh;
        position: sticky;
        top: 0;
        background-color: black;
    
    
    }
    
    .container {
        width: 100%;
        height: 100vh;
        background-color: #6919ff;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: container;
        animation-delay: 1s;
        animation-duration: 6s;
        animation-iteration-count: 1;
        animation-direction: alternate;
    
    
    }
    
    @keyframes container {
        0% {
    
            height: 0vh;
        }
    
        100% {
    
            height: 100vh;
        }
    
    
    
    
    }

    .main {
        width: 100%;
        position: fixed;
        z-index: 5;
        top: 30%;
        padding: 5%;
        left: 50%;
        transform: translate(-50%);
    
    
    }
    
    .text {
        width: 100%;
        /* font-family: 'Josefin Sans', sans-serif; */
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0.1vw;
        color: white;
        text-align: center;
        position: sticky;
    
    
    }
    
    .text .hello {
        width: 100%;
        font-size: 3rem;
    }
    
    .text .name {
        font-size: 3rem;
        color: rgb(238, 150, 150);
        font-weight: bolder;
        width: 100%;
    
    }
    
    .text .name span {
        color: white;
        font-size: 3rem;
    }
    
    .text .info {
        width: 100%;
        text-align: center;
        font-size: 3vmin;
        margin-top: 1rem;
    
    
    }
    
    .text button {
        width: 25%;
        background-color: white;
        border: 1px solid white;
        padding: 0.5rem 1rem;
        margin-top: 2rem;
        transition: 0.5s;
        outline: none;
        border-radius: 5px;
    
    }
    
    .text button a {
        color: #6919ff;
        text-decoration: none;
        width: 100%;
        font-size: 2.5vmin;
    
    
    }
    
    .text button:hover {
        background-color: transparent;
    
    
    }
    .horizontal-line hr{
        width: 70%;
        border:  1px solid rgb(90, 90, 90);
        border-radius: 50px;
        margin: 0;
        
        }
    
    .text button:hover a {
        color: white;
    }
    

    .another {
        position: relative;
        width: 100%;
        z-index: 5;
        background-color: black;
        
    
    
    }
    
    .another1 {
        width: 100%;
        height: auto;
        background-color: black;
        transition: 1s;
        /* font-family: 'Oswald', sans-serif; */
        font-family: 'Poppins', sans-serif;
       
    
    
    }
    
    
    
    
    .another-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      
    
    }
    
    .another-inner .image {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
      
    
    
    }
    
    .another-inner .image img {
        width: 25%;
        border: 2px solid white;
        padding:1rem;
        object-fit: cover;
        border-radius: 10px;
       
    
    
    }
    
    .another-inner .another-text-div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
       
    
    
    }
    
    
    
    .another-inner .another-text-div .inner-one h1 {
        color: white;
        text-align: center;
        font-size: 3rem;
    
    
    }
    
    
    .heading .underline {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .heading .underline hr {
        border: 1px solid rgb(238, 150, 150);
        width: 20%;
    }
    
    .another-inner .another-text-div .inner-one .info {
        margin-top: 2rem;
        color: white;
        width: 100%;
    
    
    }
    
    .another-inner .another-text-div .inner-one .info p {
        color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 2rem;
        text-align: center;

    
       
        
    
    
    
    }
    .another-inner .another-text-div .inner-one .info .name,span{font-size: 1.2rem;
    width: 100%;
   
    
    }
    .another-inner .another-text-div .inner-one .info span{width: 100%;}
    
    .another-inner .another-text-div .inner-one .info p span {
        color: rgb(238, 150, 150);
        width: 100%;
        margin-top: 0rem;
    
    
    }
    
    .another-inner .another-text-div .inner-one .info p .name {
        color: white;
        margin-right: 2rem;
    }
    
    
    
    .another-inner .another-text-div .inner-one .information button {
        width: 30%;
        padding: 1% 5%;
        border: 1px solid white;
        background-color: transparent;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    
    
    }
    .another-inner .another-text-div .inner-one .information button:hover{
    
        border: 1px solid grey;
    
    }
    
    .another-inner .another-text-div .inner-one .information button a {
        color: white;
        text-decoration: none;
        font-size: 2vmin;
        
    }
    .another-inner .another-text-div .inner-one .information button span{width: 20px;}
    
    .another-inner .another-text-div .inner-one .information button span img {
        width: 25px;
    }
    
  

  
    
  

  
    
    .english-inner-div{margin-bottom: 2rem;
        width: 100%;
    
    
    }
    
  


    
    .inner-project div{
    width: 100%;
    height: 350px;
    background-color: transparent;
    border: 1px solid white;
    margin: 10% 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    
    
    }
    
   
    
    
    

    .select-menu{
        width: 80%;
        margin: 0px auto;
    }
    .select-menu .select-btn{
        display: flex;
        height: 55px;
        background:transparent;
        padding: 20px;
        border: 1px solid white;
        font-size: 18px;
        font-weight: 400;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    .select-btn i{
        font-size: 25px;
        transition: 0.3s;
    }
    .select-menu.active .select-btn i{
        transform: rotate(-180deg);
    }
    .select-menu .options{
        position: relative;
        padding: 20px;
        margin-top: 10px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 0 3px rgba(0,0,0,0.1);
        display: none;
    }
    .select-menu.active .options{
        display: block;
    }
    .options .option{
        display: flex;
        height: 55px;
        cursor: pointer;
        padding: 0 16px;
        border-radius: 8px;
        align-items: center;
        background: #fff;
    }
    .options .option:hover{
        background: #F2F2F2;
    }
    .option i{
        font-size: 25px;
        margin-right: 12px;
    }
    .option .option-text{
        font-size: 18px;
        color: #333;
    }







    nav {
        width: 100%;
        font-family: 'Oswald', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        letter-spacing: 0.05vw;
        top: 0;
        z-index: 10;
        padding: 1rem 1rem;
        background-color: #6919ff;

    
    
    
    }
    
    
    .scrolled {
        width: 100%;
        font-family: 'Oswald', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        letter-spacing: 0.05vw;
        top: 0;
        z-index: 10;
        background-color: black;
        font-family: 'Oswald', sans-serif;
        padding: 1rem 1rem;

    
    
    
    
    }
    
  
 
    
    nav .logo {
        letter-spacing: 0.1vw;
        font-size: 2rem;
        /* font-family: 'Sacramento', cursive; */
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
    
    }
    
    nav .logo h2 span {
        color: rgb(238, 150, 150);
        font-size: 2rem;
    
    }
    nav ul{display: none;}
    nav ul li {
        list-style: none;
        display: inline-block;
        margin: 0rem 1rem;
    
    }
    
    
    
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    
    
    }
    
    nav .btn button {
        width: 100%;
        position: relative;
        background-color: transparent;
        border: 2px solid white;
        outline: none;
        padding: 0.2rem 1rem;
        color: white;
        font-size: 1.5rem;
        overflow: hidden;
        cursor: pointer;
    
    
    }
    
    nav .btn span {
        background-color: white;
        height: 100%;
        width: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 1s;
    
    
    
    }
    
    nav .btn button:hover span {
    
        width: 100%;
        color: black;
    
    
    
    }
    
    nav .btn button:hover {
    
    
        color: black;
    
    
    
    }
    
    
    
    .btn ul {
        margin-top: 1rem;
        width:155px;
        position: absolute;
        padding: 1rem;
        background-color: white;
        border-radius: 5px;
    
    }
    
    .btn ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
    }
    
    .btn ul li a img {
        width: 50%;
        margin: 0rem 0rem;
        transition: 0.5s;
    
    
    }
    
    .btn ul li a img:hover {
        transform: scale(1.1);
    }
    
    #iconmenu {
        display: none;
    }

.next-container{
width: 100%;
padding: 0;
}

.next-container .developer-div{
width: 100%;}
.designer-div  .frontend p{color: white;text-align: center;width: 100%;}

.next-container .designer-div .skil .text{width: 100%;text-align: center;}
.next-container .designer-div .skil{display: flex;
justify-content: center;
align-items: center;}
.next-container .designer-div .skil .text .icon{display: flex;
    margin-top: 3%;
justify-content: center;
align-items: center;width: 40%;text-align: left;}
.next-container .designer-div .skil .text .icon span{margin: 0;}

}


/* 900end */